---
import BaseLayout from "../layouts/BaseLayout.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import Hero from "../components/Hero.astro";
import Timeline from "../components/Timeline.astro";
---

<BaseLayout
  title="Agnimitra Pathak — Product Designer"
  description="Product Designer who has worked across data and finance domains in enterprise SaaS space."
>
  <Header />
  <main id="main-content" class="main container">
    <Hero name="Agnimitra Pathak" photo="/images/Photo.jpeg">
      <p>
        I am a product designer who has worked across data and finance domains
        in enterprise SaaS space. Before being a full time designer, I started
        my own company called <a
          href="https://yourstory.com/2014/02/airstream-io-150000-downloads"
          target="_blank"
          rel="noopener">Nityaa Labs</a
        >!
      </p>
      <p>
        I like working on intricate systems unfolding relationships between them
        to visualize the larger picture.
      </p>
      <p>
        I live in Pune, India. You can find me on <a
          href="https://www.linkedin.com/in/agnimitrapathak"
          target="_blank"
          rel="noopener">LinkedIn</a
        > or reach out to me via <a href="mailto:agnimitra.vr@gmail.com"
          >Email</a
        >.
      </p>
    </Hero>

    <Timeline />
  </main>
  <Footer />
</BaseLayout>

<style>
  .main {
    padding-bottom: var(--space-6);
  }
</style>
